In [1]:
import numpy as np
import pandas as pd

pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)
pd.set_option('display.max_colwidth', None)

In [2]:
path = 'E:/work/auto/bingans/quality'

In [3]:
file = f'{path}/803ad66d-a5fe-4d7f-bd46-11628a288da6.tsv'
results = pd.read_csv(file, sep='\t', header=0)

In [5]:
results['Query'] = results.vin

In [7]:
cols = ['Query', 'Result.Tags', 'Result.Intent']
prep_data = results[cols]

In [8]:
prep_data['Result.Intent'].value_counts()

Research                                 1150
Buy                                      1028
Non-Autos                                 942
Navigational                              900
Buy, Research                             564
Research, Buy                             524
Finance                                   438
Autoparts & Accessories, Ownership        390
Autoparts & Accessories                   258
Ownership                                 238
Sell                                       74
Autoparts & Accessories, Research          40
Research, Autoparts & Accessories          26
Research, Ownership                        26
Research, Finance                          25
Buy, Navigational                          17
Ownership, Research                        17
Autoparts & Accessories, Buy               16
Ownership, Autoparts & Accessories         16
Rent                                       14
Buy, Autoparts & Accessories               13
Research, Navigational                     11
Buy, Finance                                8
Buy, Ownership                              8
Buy, Rent                                   6
Autoparts & Accessories, Sell               6
Buy, Sell                                   4
Autoparts & Accessories, Navigational       3
Ownership, Finance                          3
Finance, Sell                               2
Navigational, Ownership                     1
Sell, Navigational                          1
Autoparts & Accessories, Finance            1
Sell, Research                              1
Navigational, Research                      1
Finance, Research                           1
Name: Result.Intent, dtype: int64

In [12]:
prep_data.to_csv(f'{path}/tag_results_large.tsv', sep='\t', index=False)

In [10]:
buy = prep_data[prep_data['Result.Intent'].str.contains('Buy') & ~prep_data['Result.Intent'].str.contains('Autoparts & Accessories')][cols]

In [11]:
buy[:20]

,Query,Result.Tags,Result.Intent
6,13' boston whaler for sale,"Vehicle-Type:Boats, Make:Boston Whaler, IntentIndicator:for sale",Buy
7,1963 falcon for sale,"Year:1963, Make:Falcon, IntentIndicator:for sale",Buy
9,1955 chevy bel air,"Year:1955, Make:Chevy, Model:Bel Air","Research, Buy"
10,1940 chevy,"Year:1940, Make:Chevy","Research, Buy"
11,1967 gto for sale by owner,"Year:1967, Make:gto, IntentIndicator:for sale by owner",Buy
14,1958 lincoln continental,"Year:1958, Make:Lincoln, Model:Continental","Research, Buy"
15,1977 chevy camaro,"Year:1977, Make:Chevy, Model:Camaro","Research, Buy"
16,1983 volvo 240 for sale,"Year:1983, Make:Volvo, Model:240, IntentIndicator:for sale",Buy
17,"1970 chevrolet corvette in houston, texas","Year:1970, Make:Chevrolet, Model:Corvette, Location:Houston, Texas",Buy
18,1968 ski doo for sale,"Year:1968, Make:ski doo, IntentIndicator:for sale",Buy
19,1972 chevy truck,"Year:1972, Make:Chevy, Bodystyle:truck","Buy, Research"
20,1973 to 1987 chevy c10 for sale,"Year:1973 to 1987, Make:Chevy, Model:C10, IntentIndicator:for sale",Buy
23,1988 ford t bird turbo coupe,"Year:1988, Make:Ford, Model:T Bird, Trim:Turbo Coupe","Research, Buy"
24,1990 camaro iroc,"Year:1990, Make:Camaro, Model:Iroc","Research, Buy"
26,1996 chevrolet suburban,"Year:1996, Make:Chevrolet, Model:Suburban","Buy, Research"
31,2000 f150,"Year:2000, Make:Ford, Model:F150","Buy, Research"
37,2002 nissan sentra,"Year:2002, Make:Nissan, Model:Sentra","Research, Buy"
38,2002 ez go gas golf cart 350 sport,"Year:2002, Make:ez go, Attribute:gas #AttributeValue:true, Bodystyle:golf cart, Model:350 sport","Buy, Ownership"
40,2003 mercedes e320,"Year:2003, Make:Mercedes, Model:e320","Buy, Research"
44,2003 toyota tundra for sale,"Year:2003, Make:Toyota, Model:Tundra, IntentIndicator:for sale",Buy